.address-input {
    color: #c1d3d2;
    position: relative;
}

.address-input__search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 1.8em;
}

.address-search__form {
    display: block;
    width: 100%;
}

.address-search__input {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #c1d3d2;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.address-list {
    background: white;
    display: block;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 100;
}

.address-list__address {
    color: #83a7a5;
    cursor: pointer;
    padding: 10px 15px;
}
