@import 'normalize.css';
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 3 */
    background: #fff;
    color: #666;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a,
.uk-link {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.uk-link:hover {
  color: #0f6ecd;
  text-decoration: underline;
}

div.page {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

div.map {
  background: 'brown';
  width: 100%;
  height: 50%;
}

div.addressInput {
  background: #1d91ec;
  height: 35%;
  width: 100%;
}