
.empty-price-table {
    display: block;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.empty-price-table i.fa {
    padding-right: 10px;
}

.price-table-container {
    background-color: white;
    padding: 10px 0;
    width: 100%;
}

.price-table {
    max-width: 800px;
    margin: auto;
    padding: 0 40px;
}

@media only screen and (max-width: 460px) {
    .price-table {
        padding: 0;
    }
}

.price-table-caption {
    color: #0f5f5c;
    font-size: 14px;
    margin: 15px auto;    
    text-align: center;
}

@media only screen and (max-width: 460px) {
    .price-table-container {
        border: none;
    }
}

.prices, 
.addresses {
    width: 100%;
}

.prices-row, 
.addresses {
    display: flex;
    width: 100%;
}

.addresses {
    border-bottom: 1px solid rgba(15,95,92, 0.3);
}

.addresses-address {
    color: #0f5f5c;
}

.prices-row,
.addresses-address {
    padding: 25px 0;
}

.addresses-type__block, 
.addresses-price__block,
.addresses-address {
    width: 20%;
}

.addresses-price__block {
    padding-left: 15px;
}

.addresses-type__block {
    color: #0f5f5c;
    font-weight: 700;    
}

.addresses-address i {
    padding-right: 10px;
}

.addresses-price__block .fa {
    display: none;
}

@media only screen and (max-width: 460px) {
    
    .addresses-address {
        display: none;
    }

    .prices-row {
        flex-direction: column;
    }

    .addresses-type__block, 
    .addresses-price__block {
        width: 100%;
    }

    .addresses-type__block {
        color: white;
        background: #0f5f5c;
        padding: 5px;
    }

    .addresses-price__block {
        padding: 10px 15px;
        position: relative;
        text-align: center;
    }

    .addresses-price__block .fa {
        display: block;
        left: 10px;
        position: absolute;
    }

    .addresses-price__block::before {
        content: attr(data-address);
        display: inline-block;
        font-weight: bold;
        left: 25px;
        position: absolute;
    }

    .prices-row {
        padding: 0;
    }

    .price-table-container {
        padding: 0;
    }

    .addresses-type__block {
        padding: 5px 15px;
    }
}
