
@import "vendor/styles/reset.css";

html, body {
  background-color: #fff;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: #83a7a5;
}

.app, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-header {
  align-items: center;
  box-sizing: border-box;
  color: #0f5f5c;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.app-header__text-lead {
  padding-left: 20px;
}

.app-header__search {
  width: 50%;
}

@media only screen and (max-width: 460px) {

  .app-header {
    justify-content: flex-start;
  }

  .app-header__text-lead {
    display: none;
  }

  .app-header__search {
    width: 75%;
  }
}

.app-header__app-icon {
  padding: 0 10px;
}

.app-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.app-footer {
  color: #0f5f5c;  
  padding: 20px;
  text-align: center;
}

.app-footer__link {
  color: #0f5f5c;
  padding-left: 10px;
}